@charset "UTF-8";
/*===================================================================
*
* main.scss
*
====================================================================*/
/*============================================================================================================================================
*
* resetCss
*
============================================================================================================================================*/
html {
  color: #000;
  background: #FFF;
}

body, figure, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

th, var {
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
}

img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  position: relative;
}

input {
  padding: 0;
  border-radius: 0;
}

/*===イージング===*/
/*===================================================================
*
====================================================================*/
html {
  font-size: 1px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 0.8px;
    font-size: 0.2133333333vw;
  }
}
@media screen and (min-width: 1550px) {
  html {
    font-size: 1.2px;
  }
}
@media screen and (min-width: 1800px) {
  html {
    font-size: 1.3px;
  }
}

body {
  font-size: 16rem;
}

html, body {
  background: #f4f9f9;
  color: black;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
}

a {
  color: #000000;
}

.header-box {
  height: 75rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .header {
  height: 75rem;
  background: #f4f9f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header #logo {
  margin-left: 7rem;
  margin-right: 7rem;
}
header .header #logo img {
  width: 70rem;
}
header .header nav ul {
  width: 400rem;
  display: flex;
  justify-content: space-between;
  margin-right: 100rem;
}
header .header nav ul li {
  font-size: 24rem;
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
}

#Headline {
  padding-top: 75rem;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/Headline2.png);
  background-size: cover;
  background-position: center;
}
#Headline #HeadlineText {
  font-family: "Sorts Mill Goudy", sans-serif;
  position: absolute;
}
#Headline #HeadlineText .name {
  font-size: 180rem;
  letter-spacing: 0.09em;
}
#Headline #HeadlineText .name .firstName {
  position: absolute;
  top: 120rem;
  left: 90rem;
}
#Headline #HeadlineText .name .familyName {
  position: absolute;
  top: 350rem;
  left: 380rem;
}
#Headline #HeadlineText .catchCopy {
  position: absolute;
  width: 1000rem;
  font-size: 33rem;
  letter-spacing: 0.12em;
  top: 540rem;
  left: 108rem;
}

.center {
  width: 1100rem;
  margin: 0 auto;
}

.category p {
  font-family: "Sorts Mill Goudy", sans-serif;
  font-size: 60rem;
}

.minCategory h2 {
  font-weight: normal;
  font-size: 47rem;
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  letter-spacing: 0.07em;
  display: flex;
  justify-content: center;
}

.soft {
  font-size: 30rem;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
}

.conceptTextTitle h3 {
  font-size: 30rem;
  font-weight: normal;
}

input:-webkit-autofill {
  box-shadow: 0 0 0rem 1000rem [white] inset;
}

main #works {
  padding-top: 75rem;
  margin-top: 100rem;
  margin-bottom: 200rem;
}
main #works .wrap-tab #worksMark {
  margin-top: 70rem;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
main #works .wrap-tab #worksMark .list-tab {
  width: 235rem;
  display: flex;
  justify-content: space-between;
}
main #works .wrap-tab #worksMark .list-tab li {
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  font-size: 24rem;
  cursor: pointer;
}
main #works .wrap-tab #worksMark .list-tab li.active {
  padding-bottom: 5rem;
  border-bottom: 1px solid #a0a5a4;
  cursor: pointer;
}
main #works .wrap-tab #worksMark .list-tab li:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 25rem;
  background-color: black;
  position: absolute;
  top: 3rem;
  left: -44rem;
}
main #works .wrap-tab-content .tab-content {
  display: none;
}
main #works .wrap-tab-content .tab-content.active {
  display: block;
}
main #works .wrap-tab-content .tab-content nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #works .wrap-tab-content .tab-content nav ul li {
  margin-top: 70rem;
}
main #works .wrap-tab-content .tab-content nav ul li img {
  width: 530rem;
}
main #works .wrap-tab-content .tab-content nav ul li .worksText {
  margin-left: 20rem;
}
main #works .wrap-tab-content .tab-content nav ul li .worksText .worksTitle {
  margin-top: 30rem;
}
main #works .wrap-tab-content .tab-content nav ul li .worksText .worksTitle p {
  font-weight: bold;
  font-size: 16rem;
}
main #works .wrap-tab-content .tab-content nav ul li .worksText .worksCategory {
  width: 143rem;
  font-size: 12rem;
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
}
main #about {
  padding-top: 75rem;
  margin-top: 200rem;
}
main #about .profile .center .profileContent {
  width: 90%;
  margin: 120rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #about .profile .center .profileContent img {
  width: 330rem;
}
main #about .profile .center .profileContent .profileText h1 {
  font-weight: normal;
  font-size: 30rem;
}
main #about .profile .center .profileContent .profileText p {
  margin-top: 20rem;
  font-size: 16rem;
}
main #about .skill {
  padding-bottom: 100rem;
}
main #about .skill .minCategory {
  margin-bottom: 120rem;
}
main #about .skill ul {
  display: flex;
  flex-wrap: wrap;
}
main #about .skill ul li {
  width: 25%;
  text-align: center;
  margin-bottom: 90rem;
}
main #about .concept {
  width: 100%;
  background-image: url(../images/consept2.png);
  background-repeat: no-repeat;
  padding: 120rem 0;
}
main #about .concept .conceptText .theme {
  padding-top: 120rem;
  padding-bottom: 50rem;
}
main #about .concept .conceptText .theme .conceptTextTitle {
  padding-bottom: 50rem;
}
main #contact {
  padding-top: 75rem;
  margin-top: 200rem;
}
main #contact .center .category {
  margin-bottom: 100rem;
}
main #contact .center div .form {
  display: block;
  margin-bottom: 20rem;
}
main #contact .center div input[type=mail] {
  width: 100%;
  padding: 3rem;
  margin-bottom: 70rem;
  border-width: thin;
}
main #contact .center div input[type=text] {
  width: 100%;
  padding: 3rem;
  margin-bottom: 70rem;
  border-width: thin;
}
main #contact .center div input[type=text] {
  width: 100%;
  padding: 3rem;
  margin-bottom: 70rem;
  border-width: thin;
}
main #contact .center div textarea {
  resize: vertical; /* 縦方向のリサイズを許可 */
  width: 100%;
  padding: 3rem;
  margin-bottom: 70rem;
}
main #contact .center div input:focus {
  background: #e6eeef;
  outline: 0.1rem solid;
}
main #contact .center div textarea:focus {
  background: #e6eeef;
  outline: 0.1rem solid;
}
main #contact .center .buttonSpace {
  margin-bottom: 70rem;
  text-align: center;
}
main #contact .center .buttonSpace .button {
  display: inline-block;
  border-radius: 5%; /* 角丸       */
  font-size: 16rem; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 15rem 30rem; /* 余白       */
  background: white; /* 背景色     */
  color: #000000; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  border-width: thin;
}
main #contact .center .buttonSpace .button:hover {
  background: #e6eeef;
}
main #thanksPage #thanksLogo {
  text-align: center;
  padding-top: 200rem;
  padding-bottom: 50rem;
}
main #thanksPage #thanksLogo img {
  width: 150rem;
}
main #thanksPage .thanksMessage h1 {
  text-align: center;
  padding: 20rem 0;
  font-size: 26rem;
}
main #thanksPage .thanksMessage p {
  text-align: center;
  padding-bottom: 150rem;
  font-size: 16rem;
}

footer #footer {
  height: 375rem;
  background: #eaefef;
}
footer #footer .footerText {
  font-family: "Sorts Mill Goudy", sans-serif;
  padding: 60rem;
}
footer #footer .footerText p {
  font-size: 58rem;
}
footer #footer nav {
  display: flex;
  justify-content: center;
}
footer #footer nav ul {
  width: 1300rem;
  display: flex;
  justify-content: space-between;
}
footer #footer nav ul li {
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  font-size: 36rem;
}
footer #footer .copyRight {
  padding-top: 110rem;
}
footer #footer .copyRight p {
  font-size: 18rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */