@charset "UTF-8";
/*===================================================================
*
* main.scss
*
====================================================================*/
/*============================================================================================================================================
*
* resetCss
*
============================================================================================================================================*/
html {
  color: #000;
  background: #FFF;
}

body, figure, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

th, var {
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
}

img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  position: relative;
}

input {
  padding: 0;
  border-radius: 0;
}

/*===イージング===*/
/*===================================================================
*
====================================================================*/
html, body {
  background: #f4f9f9;
  color: black;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
}

a {
  color: #000000;
}

.header-box {
  height: 75px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header .header {
  height: 75px;
  background: #f4f9f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header #logo {
  margin-left: 7px;
  margin-right: 7px;
}
header .header #logo img {
  width: 70px;
}
header .header nav ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}
header .header nav ul li {
  font-size: 24px;
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
}

#Headline {
  padding-top: 75px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/Headline2.png);
  background-size: cover;
  background-position: center;
}
#Headline #HeadlineText {
  font-family: "Sorts Mill Goudy", sans-serif;
  position: absolute;
}
#Headline #HeadlineText .name {
  font-size: 180px;
  letter-spacing: 0.09em;
}
#Headline #HeadlineText .name .firstName {
  position: absolute;
  top: 288px;
  left: 270px;
}
#Headline #HeadlineText .name .familyName {
  position: absolute;
  top: 578px;
  left: 525px;
}
#Headline #HeadlineText .catchCopy {
  position: absolute;
  width: 1000px;
  font-size: 34px;
  letter-spacing: 0.12em;
  top: 790px;
  left: 200px;
}

.center {
  width: 1400px;
  margin: 0 auto;
}

.category p {
  font-family: "Sorts Mill Goudy", sans-serif;
  font-size: 60px;
}

.minCategory h2 {
  font-weight: normal;
  font-size: 47px;
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  letter-spacing: 0.07em;
  display: flex;
  justify-content: center;
}

.soft {
  font-size: 30px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
}

.conceptTextTitle h3 {
  font-size: 30px;
  font-weight: normal;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px [white] inset;
}

main #works {
  padding-top: 75px;
  margin-top: 100px;
  margin-bottom: 200px;
}
main #works .wrap-tab #worksMark {
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
main #works .wrap-tab #worksMark .list-tab {
  width: 235px;
  display: flex;
  justify-content: space-between;
}
main #works .wrap-tab #worksMark .list-tab li {
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}
main #works .wrap-tab #worksMark .list-tab li.active {
  padding-bottom: 5px;
  border-bottom: 1px solid #a0a5a4;
  cursor: pointer;
}
main #works .wrap-tab #worksMark .list-tab li:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 25px;
  background-color: black;
  position: absolute;
  top: 3px;
  left: -44px;
}
main #works .wrap-tab-content .tab-content {
  display: none;
}
main #works .wrap-tab-content .tab-content.active {
  display: block;
}
main #works .wrap-tab-content .tab-content nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #works .wrap-tab-content .tab-content nav ul li {
  margin-top: 70px;
}
main #works .wrap-tab-content .tab-content nav ul li img {
  width: 665px;
}
main #works .wrap-tab-content .tab-content nav ul li .worksText {
  margin-left: 20px;
}
main #works .wrap-tab-content .tab-content nav ul li .worksText .worksTitle {
  margin-top: 30px;
}
main #works .wrap-tab-content .tab-content nav ul li .worksText .worksTitle p {
  font-weight: bold;
}
main #works .wrap-tab-content .tab-content nav ul li .worksText .worksCategory {
  width: 143px;
  font-size: 12px;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}
main #about {
  padding-top: 75px;
  margin-top: 200px;
}
main #about .profile .center .profileContent {
  width: 85%;
  margin: 170px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #about .profile .center .profileContent img {
  width: 420px;
}
main #about .profile .center .profileContent .profileText h1 {
  font-weight: normal;
  font-size: 30px;
}
main #about .profile .center .profileContent .profileText p {
  margin-top: 20px;
  font-size: 16px;
}
main #about .skill {
  padding-bottom: 100px;
}
main #about .skill .minCategory {
  margin-bottom: 120px;
}
main #about .skill ul {
  display: flex;
  flex-wrap: wrap;
}
main #about .skill ul li {
  width: 25%;
  text-align: center;
  margin-bottom: 90px;
}
main #about .concept {
  width: 100%;
  background-image: url(../images/consept2.png);
  padding: 120px 0;
}
main #about .concept .conceptText .theme {
  padding-top: 120px;
  padding-bottom: 50px;
}
main #about .concept .conceptText .theme .conceptTextTitle {
  padding-bottom: 50px;
}
main #contact {
  padding-top: 75px;
  margin-top: 200px;
}
main #contact .center .category {
  margin-bottom: 100px;
}
main #contact .center div .form {
  display: block;
  margin-bottom: 20px;
}
main #contact .center div input[type=mail] {
  width: 100%;
  padding: 3px;
  margin-bottom: 70px;
  border-width: thin;
}
main #contact .center div input[type=text] {
  width: 100%;
  padding: 3px;
  margin-bottom: 70px;
  border-width: thin;
}
main #contact .center div input[type=text] {
  width: 100%;
  padding: 3px;
  margin-bottom: 70px;
  border-width: thin;
}
main #contact .center div textarea {
  resize: vertical; /* 縦方向のリサイズを許可 */
  width: 100%;
  padding: 3px;
  margin-bottom: 70px;
}
main #contact .center div input:focus {
  background: #e6eeef;
  outline: 0.1px solid;
}
main #contact .center div textarea:focus {
  background: #e6eeef;
  outline: 0.1px solid;
}
main #contact .center .buttonSpace {
  margin-bottom: 70px;
  text-align: center;
}
main #contact .center .buttonSpace .button {
  display: inline-block;
  border-radius: 5%; /* 角丸       */
  font-size: 16pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 15px 30px; /* 余白       */
  background: white; /* 背景色     */
  color: #000000; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  border-width: thin;
}
main #contact .center .buttonSpace .button:hover {
  background: #e6eeef;
}
main #thanksPage #thanksLogo {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
}
main #thanksPage #thanksLogo img {
  width: 150px;
}
main #thanksPage .thanksMessage h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 26px;
}
main #thanksPage .thanksMessage p {
  text-align: center;
  padding-bottom: 150px;
  font-size: 16px;
}

footer #footer {
  height: 375px;
  background: #eaefef;
}
footer #footer .footerText {
  font-family: "Sorts Mill Goudy", sans-serif;
  padding: 60px;
}
footer #footer .footerText p {
  font-size: 58px;
}
footer #footer nav {
  display: flex;
  justify-content: center;
}
footer #footer nav ul {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}
footer #footer nav ul li {
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  font-size: 36px;
}
footer #footer .copyRight {
  padding-top: 110px;
}
footer #footer .copyRight p {
  font-size: 18px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */